@font-face {
    font-family: 'GoraFree';
    src: url('../fonts/GoraFree-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSansLight-Italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

body {
    font-family: 'OpenSans';
    font-weight: 300;
    line-height: 1.42em;
}

h1,
h2 {
    font-size: 49px;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
* {
    box-sizing: border-box;
}

/*Главная страница*/

.header {
    background: #131415;
}

.logo {
    font-family: GoraFree;
    font-size: 18px;
    color: #f89513;
}

.contacts__phone {
    font-weight: bold;
    color: #FFFFFF;
    font-size: 21px;
    text-decoration: none;
}

.contacts__schedule {
    color: #f89513;
    opacity: .7;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
}

.nav-menu {
    list-style: none;
}

.nav-menu__link {
    text-decoration: none;
}

.nav-menu__selected:hover .nav-menu__text {
    color: #f89513;
}
.nav-menu__selected:hover .nav-menu__icon-reviews {
    background: url("../img/icons/feed_icon-color.png")
}

.nav-menu__icon {
    background-repeat: no-repeat;
    background-position: center center;
    width: 21px;
    height: 19px;
}

.nav-menu__icon-main {
    background-image: url('../img/icons/main_icon-color.png');
}

.nav-menu__icon-tariffs {
    background-image: url('../img/icons/service_icon-color.png');
}

.nav-menu__icon-reviews {
    background-image: url('../img/icons/feed_icon.png');
}

.nav-menu__text {
    color: #221f1f;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-menu__noaactive {
    color: #f89513;
}


/* Main page */

.page-image__title {
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
}

.text-description {
    color: #221f1f;
}

.page-text {
    font-size: 18px;
    
}

.partners-header {
    text-transform: uppercase;
    color: #000000;
}

.partners_list {
    list-style: none;
}
.description {
    background: #000000;
    color: #ffffff;
}


/* Reviews Page */

.route-links {
    font-size: 14px;
}

.route-links__mainpage {
    color: #f89513;
}

.reviews {
    list-style: none;
}

.reviews__date {
    font-size: 14px;
    color: #656464;
}

.reviews__name {
    font-size: 18px;
    font-weight: bold;
    color: #221f1f;
}

.reviews__review {
    color: #221f1f;
    font-size: 18px;
}

.reviews__item {
    border-bottom: 1px solid #f5f5f5;
}
.reviews__item:last-child {
    border: none;
}

.page-change {
    font-size: 14px;
}

.page-change-text {
    color: #656464;
}
.paginator__arrow {
    color: #221f1f;
}
.paginator__figure {
    color: #221f1f;
    font-weight: bold;
}
.paginator__figure:first-of-type {
    color: #f89513;
    font-weight: bold;
    background-color: #131415;
}
.paginator {
    list-style: none
    }


/* Footer */

.footer {
    background: #131415;
    font-size: 14px;
    color: #ffffff;
}

.righttext {
    font-weight: bold;
}

.social-networks__list {
    list-style: none;
}

.footer__link {
    color: #ffffff;
    font-weight: bold;
}

.sn-icon {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
}

.sn-vk {
    background: url("../img/icons/vk-color.png")
}

.sn-facebook {
    background: url("../img/icons/fb.png")
}

.sn-google {
    background: url("../img/icons/google.png")
}

.sn-twitter {
    background: url("../img/icons/twitter.png")
}

.sn-mail {
    background: url("../img/icons/mail.png")
}

/* Form */
.form {
    width: 700px;
    height: 420px;
    background:  #f5f5f5;  
    border-radius: 3px;
    padding: 45px 70px;
}

.form__title {
    font-size: 50px;
    font-weight: bold;
    color: #221f1f;
    margin-bottom: 25px;
}
.form__cell {
    display: block;
    float: left;
    width: 270px;
}
.form__field-title {
    color: #221f1f;
    font-size: 14px;
}
.form__cell:first-child{
    margin-right: 20px;
}
.form__input-text {
    width: 100%;
    height: 45px;
    padding: 13px 10px;
    font-size: 14px;
    border: none;
    border-radius: 3px;
}