/* Шапка */
.header {
    background: #131415;
    height: 77px;
}
.logo-link {
    display: block;
}
.logo {
    font-family: GoraFree;
    font-size: 18px;
    color: #f89513;
    float: left;
    width: 50%;
    letter-spacing: 0.1em;
}

.contacts {
    float: left;
    width: 50%;
    text-align: right;
}

.contacts__phone {
    font-weight: bold;
    color: #FFFFFF;
    font-size: 21px;
    text-decoration: none;
}

.contacts__schedule {
    color: #f89513;
    opacity: .7;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
}