/* Шапка */

.header {
    background: #131415;

}

.logo-link {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}

.logo {
    display: block;
    font-family: GoraFree;
    font-size: 18px;
    color: #f89513;
    vertical-align: middle;
    height: 100%;
}

.contacts {
    display: inline-block;
    width: 50%;
    text-align: right;
    vertical-align: middle;
}

.contacts__phone {
    display: block;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 21px;
    text-decoration: none;
}

.contacts__elem {
    color: #f89513;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
    display: inline-block;
    position: relative;
    
}
.contacts__elem:hover .dropdown {
    display: block;
}
.dropdown {
    display: none;
    position: absolute;
    background-image: -moz-linear-gradient( 90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
    border-radius: 3px 0px 3px 3px;
    box-shadow: 0px 0px 10px 0px rgba(23, 59, 117, 0.55);
    width: 164px;
    height: 81px;
    top:35px;
    margin-left: -50%;
    z-index: 2000;
    font-size: 14px;
}
.dropdown:after {
    content: "";
    display: block;
    position: absolute;
    height: 20px;
    left: 0;
    right: 0;
    top: -20px;
}
.dropdown:before {
    content: "";
    border-top: 10px solid rgb(255, 255, 255);
    border-right: 10px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 10px solid transparent;
    width: 0px;
    height: 0px;
    position: absolute;
    top: -10px;
    margin-left: -20px;
    transform: rotate(180deg);
}
.contacts__time-first-string {
    text-align: center; 
    margin: 20px 0 0 10px;
}
.contacts__time-second-string {
    color: #221f1f;
    font-weight: 300;
 text-align: center; 
    
}