.sidebar {
  float: left;
  width: 180px;
}

.nav-menu {
  list-style: none;
}

.nav-menu__link {
  text-decoration: none;
}

.nav-menu__link:hover .nav-menu__icon-main {
  background-image: url('../../img/icons/main_icon-color.png');
}

.nav-menu__link:hover .nav-menu__text {
  color: #f89513;
}

.nav-menu__icon-main {
  background: url('../../img/icons/main_icon.png') 50% 50% no-repeat;
}

.nav-menu__item_active .nav-menu__text {
  color: #f89513;
}

.nav-menu__item_active .nav-menu__icon {
  background-image: url('../../img/icons/main_icon.png');
}

.nav-menu__icon {
  width: 18px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

.nav-menu__text {
  color: #221f1f;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  max-width: 122px;
}

.sidebar {
  padding-top: 45px;
  padding-right: 10px;
}

.nav-menu__item {
  margin-bottom: 28px;
}