.sidebar {
  float: left;
  width: 180px;
  padding-top: 45px;
  padding-right: 10px;
}

.nav-menu {
  list-style: none;
}

.nav-menu__item {
  margin-bottom: 28px;
}

.nav-menu__link {
  text-decoration: none;
}

.nav-menu__link:hover .nav-menu__icon {
  background-position-y: top;
}

.nav-menu__link:hover .nav-menu__text {
  color: #221f1f;
}

.nav-menu__icon {
  width: 29px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  background: url('../../img/icons/sprites-services.png') no-repeat;
}

.nav-menu__icon_line {
  background-position: -100px -100px;
}

.nav-menu__icon_tarifs {
  background-position: -200px -100px;
}

.nav-menu__icon_reviews {
  background-position: 0 -100px;
}

.nav-menu--selected .nav-menu__icon {
  background-position-y: top;
}

.nav-menu--selected .nav-menu__text {
  background-position-y: top;
  color: #221f1f;
}

.nav-menu__text {
  color: #f89513;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  max-width: 122px;
}